rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 한 사용자(UID) 하위 데이터만 본인이 읽기/쓰기
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
